/* ----- Google Fonts -----*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");

/* ----- Variables  CSS-----*/
:root {
  --header-height: 3rem;

  /* ----- Fonts Weight -----*/
  --font-light: 300;
  --font-normal: 400;
  --font-bold: 500;
  --font-semi-bold: 600;
  --font-xbold: 700;

  /* ----- Colors -----*/
  --text-dark: #0a0a0a; /*#201f1f*/
  --text-light: #f2f2f2;
  --text-grey: #858585;
  --text-lgrey: #f5f5f5;
  --primary: #bf9004;
  --secondary: #010440;
  --primary-light: #f1c232;
  --secondary-light: #d9d8d7;
  --tertiary: #8c3b0d;

  /* ----- Fonts & Typography -----*/
  --body-font: "Montserrat", sans-serif;
  --body-font-b: "Roboto", sans-serif;
  --body-font-c: "Josefin Sans", sans-serif;
  --small-size: 0.8rem;
  --normal-size: 1rem;
  --big-size: 1.5rem;
  --biggger-size: 2rem;
  --large-size: 3rem;
  --xlarge-size: 4rem;

  /* ----- Margins -----*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --mb-7: 3.5rem;
  --mb-8: 4rem;
  --mb-9: 4.5rem;
  --mb-10: 5rem;

  /* ----- Z-Index -----
    --z-fixed: 100; */
}

/* ----- Base -----*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* --- Variable Dark Theme -- 
  body.dark-theme {
    --dark-color: #f1f3f2;
    --dark-color-light: #8a8a8a;
    --dark-color-lighten: #27302c;
    --white-color: #1d2521;
    --dark-blue: #069c54;
    --text-dark: #f2f2f2;
  } */

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-normal);
  color: var(--text-dark);
  line-height: 1.6;
  background-color: var(--white-color);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

p,
a {
  font-family: var(--body-font-b);
}

/* p {
    font-family: var(--body-font-b);
    color: #333333;
  } */

ul {
  padding: 0;
  list-style: none;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: var(--text-dark);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ==== Change Color Header ====-*/
.scroll-header {
  background-color: #ecf7fc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  transition: 0.3s;
  height: 4.5rem;
}

/* ==== SCROLLTOP === */

/*-- Scroll top --*/
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: var(--primary-light);
  border-radius: 0.4rem;
  z-index: 1000;
  transition: 0.3s;
  visibility: hidden;
}

.scrolltop:hover {
  border: 2px solid var(--primary-light);
  background-color: transparent;
}

.scrolltop__icon {
  font-size: 2rem;
  color: white;
}

.scrolltop__icon:hover {
  color: var(--secondary);
}

/* Show scrolltop */
.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/* ==== NAVBAR === */

/* --min_nav --*/
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: var(--header-height);
  background: #f1c232 0% 0% no-repeat padding-box;
  opacity: 1;
  letter-spacing: 0;
}

.mininav__menu {
  flex-basis: 75%;
  display: flex;
  align-items: center;
  height: 100%;
  color: #292929;
  /* border: 1px red solid; */
  padding-left: var(--mb-6);
}

.mininav__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mininav__list li {
  margin-right: 2rem;
  font-size: 0.9rem;
}

.nav__icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.social__menu {
  flex-basis: 25%;
  height: 100%;
  /* border: 1px darkblue solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: var(--mb-6);
  color: #292929;
}

.h__social {
  font-size: 1.3rem;
  margin-right: 1rem;
  transition: 0.3s;
  color: var(--white-color);
  cursor: pointer;
  padding-right: var(--mb-2);
}

/* --main_nav --*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 5rem;
  transition: 0.3s;
  border-bottom: 1px #e0e0e0 solid;
  letter-spacing: 0;
  opacity: 1;
}

nav ul li {
  margin-right: 2rem;
  font: normal normal 500 1rem var(--body-font);
  transition: all 0.3s;
}

#nav__l:hover {
  color: var(--primary);
}

nav a {
  font: normal normal 500 1rem var(--body-font);
}

#logo {
  font: normal normal 400 2rem var(--body-font-c);
  color: var(--secondary);
}

.btn {
  padding: 1rem 2rem;
  background: var(--primary-light) 0% 0% no-repeat padding-box;
  border-radius: 2px;
  transition: all 0.3s;
  color: var(--secondary);
}

.btn:hover {
  background: transparent;
  border: 1.5px var(--secondary) solid;
}

/* ==== HERO SECTION === */
.hero__container {
  width: 100%;
  height: 80vh;
  padding: var(--mb-10) 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__info {
  flex: 0 0 53%;
  height: auto;
  margin: 0.5rem;
  text-align: left;
  /* border: 2px darkblue solid; */
  overflow: hidden;
  padding-bottom: var(--mb-3);
  padding-right: var(--mb-4);
  opacity: 1;
  letter-spacing: 0;
}

.hero__info h1 {
  font: normal normal var(--font-xbold) 3.75rem var(--body-font);
  margin-bottom: var(--mb-3);
}

.hero__info p {
  font: normal normal var(--font-normal) 1.1rem var(--body-font-b);
  margin-bottom: var(--mb-6);
  line-height: 1.8;
  color: #808291;
}

.hero__img {
  flex: 0 0 47%;
  height: auto;
  /* border: 1px red solid; */
  border-bottom-left-radius: 90px;
  border-top-right-radius: 90px;
  overflow: hidden;
}

.hero__info a {
  font: normal normal 500 1rem var(--body-font);
}

.hero__img img {
  width: auto;
  height: auto;
}

/* ==== BIO SECTION === */
.bio {
  background: #0d3642;
  position: relative;
  /* border: 1.5px red solid; */
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-bottom: 18rem;
}

.bio::before {
  position: absolute;
  content: "";
  background-image: url(/Assets/img/bio-shape.png);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bio__info {
  position: absolute;
  top: 200;
  flex: 0 0 100%;
  height: auto;
  background: #fff 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  /* border: 2px green solid; */
  margin: 0 8rem;
  box-shadow: 0px 3px 16px #0000001f;
}

.b__info {
  flex: 0 0 64%;
  padding: 2.5rem 0rem 2.5rem 4rem;
  /* border: 2px blue solid; */
}

.b__info h2 {
  font: normal normal var(--font-xbold) var(--mb-6) var(--body-font);
  line-height: 1.2;
  margin-bottom: var(--mb-3);
}

.b__info p {
  font: normal normal var(--font-normal) var(--normal-size) var(--body-font-b);
  margin-bottom: var(--mb-3);
  color: #333;
}

.b__info img {
  margin-bottom: var(--mb-2);
}

#bp {
  font: normal normal var(--font-bold) var(--normal-size) var(--body-font-b);
  color: var(--secondary);
  margin: 0;
  margin-bottom: 0.8rem;
}

#b-s {
  font: normal normal var(--font-normal) 1rem var(--body-font-b);
  color: var(--primary);
}

.bio__img {
  flex: 0 0 36%;
  position: relative;
  /* border: 2px green solid; */
  max-width: 550px;
  right: 0;
  bottom: 0;
}

.bio__img img {
  position: absolute;
  top: -375;
  left: -80;
}

/* ==== ABOUT SECTION === */

.about {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 7rem;
  /* border: 2px green solid; */
  margin-bottom: 3rem;
}

.about__img {
  flex: 0 0 45%;
  /* border: 2px orangered solid; */
}

.about__img img {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -webkit-box-shadow: 0 0 11px 0 rgb(0 0 0 / 35%);
  box-shadow: 0 0 11px 0 rgb(0 0 0 / 35%);
  z-index: 1;
  -webkit-animation: wrep 10s infinite linear;
  animation: wrep 10s infinite linear;
  width: 100%;
  max-width: unset;
}

.about__info {
  flex: 0 0 55%;
  margin-left: 4rem;
  height: auto;
  /* border: 2px blue solid; */
  padding: 0 0.5rem 1rem 0.5rem;
}

#a-s {
  font: normal normal var(--font-bold) 1.2rem var(--body-font-b);
  color: var(--primary);
  display: inline-block;
  margin-bottom: 0.625rem;
  text-transform: uppercase;
}

.about__info h2 {
  font: normal normal var(--font-xbold) var(--mb-5) var(--body-font);
  margin-bottom: var(--mb-3);
}

.about__info p {
  font: normal normal var(--font-normal) var(--normal-size) var(--body-font-b);
  line-height: 1.8;
  color: #808291;
  margin-bottom: var(--mb-2);
}

.about__info p:nth-child(5) {
  margin-bottom: var(--mb-6);
}

/* ==== SERVICES SECTION === */
.services {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px green solid; */
  padding: 3rem 7rem 5rem 7rem;
  text-align: center;
  margin-bottom: 2rem;
}

#s-s {
  font: normal normal var(--font-bold) 1.2rem var(--body-font-b);
  color: var(--primary);
  display: inline-block;
  margin-bottom: 0.625rem;
  text-transform: uppercase;
}

.services h2 {
  font: normal normal var(--font-xbold) var(--mb-5) var(--body-font);
  margin-bottom: var(--mb-3);
}

.services p {
  font: normal normal var(--font-normal) 300 var(--body-font-b);
  line-height: 1.8;
  color: #717477;
  margin-bottom: var(--mb-2);
}

.services__list {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  /* border: 2px darkorange solid; */
  -webkit-overflow-scrolling: touch;
  margin-top: 1rem;
}

.services__list::-webkit-scrollbar {
  height: 0.5rem;
  width: auto;
  border: 1px solid #d5d5d5;
  background: #d5d5d5;
}

.services__list::-webkit-scrollbar-track {
  --webkit-box-shadow: inset 0 0 6px (0, 0, 0, 0.3);
}

.services__list::-webkit-scrollbar-thumb {
  background-color: var(--primary-light);
}

.s__card {
  width: auto;
  height: auto;
  flex: 0 0 33.3%;
  object-fit: cover;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
  padding: 1.5rem 2rem;
  box-shadow: 0px 3px 16px #0000001f;
  border-radius: 8px;
  margin: 2rem;
  background: #ffffff 0% 0% no-repeat padding-box;
}

#s-i {
  font-size: 2.2rem;
  width: 5.6rem;
  height: 5.6rem;
  display: inline-block;
  text-align: center;
  line-height: 5.6rem;
  border-radius: 46% 54% 68% 32% / 55% 48% 52% 45%;
  margin-bottom: 1.6rem;
  animation: icon-animation 5s ease-in-out infinite;
  border: 1px dashed;
  color: var(--primary-light);
  background: #fff9e6;
}

.s__card h3 {
  font: normal normal var(--font-semi-bold) var(--mb-3) var(--body-font);
  margin-bottom: 0.8rem;
  color: var(--secondary);
}

.s__card p {
  font: normal normal var(--font-normal) var(--mb-2) var(--body-font-b);
  line-height: 1.6;
  color: #717477;
  margin: 0;
}

.s__card:hover {
  transform: scale(0.95);
}

/* ==== FOOTER SECTION === */
footer {
  /* position: fixed; */
  /* z-index: -5; */
  width: 100%;
  height: auto;
  padding: 3rem 7rem 1rem 7rem;
  margin: 0;
  background: #0d3642;
}

.main__f {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  text-align: left;
}

.f__info {
  flex: 0 0 30%;
  margin-right: var(--mb-6);
  margin-bottom: var(--mb-6);
}

.f__info h3 {
  font: normal normal var(--font-normal) 1.5rem var(--body-font-c);
  margin-bottom: var(--mb-2);
}

.f__info p {
  font: normal normal 300 1rem var(--body-font-b);
  margin-bottom: var(--mb-3);
  line-height: 1.5;
  padding-right: 1rem;
}

.f__info a {
  margin-right: 0.5rem;
  color: #fff;
  font-family: var(--body-font-c);
}

.f__info a:hover {
  color: var(--primary-light);
}

.f__qlinks {
  flex: 0 0 40%;
  margin-bottom: var(--mb-6);
}

.f__qlinks h3 {
  font: normal normal var(--font-normal) 1.5rem var(--body-font-b);
  margin-bottom: var(--mb-2);
}

.f__qlinks li {
  display: block;
  margin-bottom: 0.5rem;
  transition: all 0.3s;
  cursor: pointer;
  font: normal normal 300 1rem var(--body-font-b);
}

.f__qlinks li:hover {
  color: var(--primary-light);
}

.mini__f {
  width: 100%;
  height: auto;
  padding-top: 1rem;
  border-top: 0.5px #e0e0e0 solid;
}

.mini__f p {
  color: white;
  font-size: 0.8rem;
}
